/* GRID LAYOUT GENERAL */
.grid__container__general{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 100px);
    gap: 5px;
}

/* ************************ */

/* GRID LAYOUT HEADER */
.grid__container__header{
    grid-column: 1/span 12;
    grid-row: 1/span 2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 5px;
}

/* GRID LAYOUT MAIN */
.grid__container__main{
    grid-column: 1/span 12;
    grid-row: 3/span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 100px);
    gap: 5px;
}

/* GRID LAYOUT FOOTER */
.grid__container__footer{
    grid-column: 1/span 12;
    grid-row: 15/span 2;
    border: 3px solid black;
}

/* ************************ */

/* SUBGRID LAYOUT */
/* SUBGRID HEADER */
.header__logo{
    grid-column: 1/span 12;
    grid-row: 1/span 1;
    
    border: 3px solid black;
}

.header__menu{
    grid-column: 1/span 12;
    grid-row: 2/span 1;
    border: 3px solid black;
}
/* ************************ */

/* SUBGRID MAIN */
.main__aside__publicidad{
    grid-column: 1/span 3;
    grid-row: 1/span 6;
    border: 3px solid black;
}

.main__section__productos{
    grid-column: 4/span 9;
    grid-row: 1/span 6;
    border: 3px solid black;
}

.main__section__galeria{
    grid-column: 1/span 12;
    grid-row: 7/span 6;
    border: 3px solid black;
}

/* ************************ */